/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    background-color: turquoise;
}

.sketch-pad {
    background-color: tomato;
    padding: 12px 0px;
    margin: 24px 48px;
    border-radius: 24px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 72px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: gold;
    flex: none;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    margin-bottom: 12px;
    /* gap: 48px; */
}

.logo-text {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: gold;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    border: none;    
    width: 879px;
    height: 639px;
    background-color: lightgray;
    margin: 0px 96px;
    cursor: crosshair;
}

.grid-box {
    border: 1px solid darkgray;
    background-color: lightgray;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for color changes */
}

.large {
    flex-basis: calc(4.545% - 2px); /* (100 / 22)% - 2px */
    height: calc(6.25% - 2px); /* (100 / 16)% - 2px */
}

.medium {
    flex-basis: calc(2.272% - 2px); /* (100 / 44)% - 2px */
    height: calc(3.125% - 2px); /* (100 / 32)% - 2px */
}

.small {
    flex-basis: calc(1.136% - 2px); /* (100 / 88)% - 2px */
    height: calc(1.5625% - 2px); /* (100 / 64)% - 2px */
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 48px;
    margin: 24px 72px;    
}

#erase {
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: tomato;
    height: 32px;
    padding: 6px 16px;
    cursor: pointer;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: gold;
}

.box-color {
    color: white;
    padding: 8px;
    cursor: pointer;
}

.selected-color {
    border: 3px solid gold;
    border-radius: 50%;
}

#small-size-square{
    height: 18px;
    width: 18px;
}

#medium-size-square{
    height: 33px;
    width: 33px;
}

#large-size-square {
    height:48px;
    width: 48px;
}

.box-size {
    background-color: white;
    transition: border 0.3s, border-radius 0.3s;
    box-sizing: border-box;
    cursor: pointer;
}

.selected-size {
    border: 3px solid gold;
    border-radius: 25%;
}

.footer {
    border-radius: 12px;
    background-color: tomato;
    color: gold;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 6px 16px;
}

a {
    text-decoration: none;
    color: white;
}